# 1- PYTHON INTRODUCTION - (TASK - 1)
I hope everybody install Anconda software which i share to you guys right
Just wanted to know how many of know any programming language
If you dont know any programming language then you are the best person to learn PYTHON
python is very easy language
what is python? Ans - python is highly recommanded programming language & object oriented language
Father of python - Guido van Rosam
Python came from fun tv show called ''complete monty python's flying circus'' - broadcasted in BBC channel
Python borrowed all concept from c,c++,java,unix ( so python is everything) thats why python very very powerfull tool
Python developed in NRI - (Netherland) & lot of people say that python is new language
Java released on 1995. python was released on 1989 officialy released on (feb 20th 1991)
It has a large and comprehensive standard library.

In [1]:
#int 
x=2
x

2

Now python is very popular based on software industry requirment because everybody wants to write very less code/concile code
Current market trend is - Machine learing, Artificial intelligence, data science & Iot(Internet of things)
which companies are used python - google,nasa,uber,netfliz,reddit,facebook, everywhere python used everywhere
python code can understand everybody & python is dynamic programming language
In python everything done by PVM (python virtual machine)
you can access python in any platform independent- windows, linux, mac one code can run in all the 4 platform & no need to write separate programe for every platform. Once you write code you can run in platform
Python is dynamically programming language (not required to declared data types)
Python is freeware and open source. Moving from one platform to other platform without changeing any code
Python contains rich libray - numpy,pandas so python is the best application for datascience
which scenario python can't be used - ( python can not perform in mobile application like android )
Flavours of python - cpython(C programming),jpython(java programming),Iron python(c#.net),Ruby python(Ruby based application programme),Anaconda python(Bigdata,datascience)
Python 1.0 introduce in jan 1994 -- Noorganization is working now
Python 2.0 introduce in oct 2000 -- Noorganization is working now
Python 3.0 introduce in Dec 2008, 2016, 2017,---- latest version - 3.6, 3.6, 3.7, 3.8, 3.9, 3.10

In [2]:
x=3
type(x)

int

# 2- Getting started with Python Language
## Python 3.x
### Version Release Date --->
3.10 2021-10-04 3.9 2020-10-05 3.8 2020-04-29 3.7 2018-06-27 3.6 2016-12-23 3.5 2015-09-13 3.4 2014-03-17 3.3 2012-09-29 3.2 2011-02-20 3.1 2009-06-26 3.0 2008-12-03

## Python 2.x
### Version Release Date
2.7 2010-07-03 2.6 2008-10-02 2.5 2006-09-19 2.4 2004-11-30 2.3 2003-07-29 2.2 2001-12-21 2.1 2001-04-15 2.0 2000-10-16

# Two major versions of Python are currently in active use:
Python 3.x is the current version and is under active development.
Python 2.x is the legacy version and will receive only security updates until 2020. No new features will be implemented.Note that many projects still use Python 2, although migrating to Python 3 is getting easier.
If you want to learn python only then better you can use software called - python.org (below is url) https://www.python.org/downloads/
For data science the best application for datascience models using python is called ANACONDA

In [3]:
import sys
sys.version

# 3-Creating variables and assigning values
To create a variable in Python, all you need to do is specify the variable name, and then assign a value to it.

= Python uses = to assign values to variables There's no need to declare a variable in advance (or to assign a data type to it) Assigning a value to a variable itself declares and initializes the variable with that value. There's no way to declare a variable without assigning it an initial value.

In [4]:
a=5
type(a)

In [5]:
6=a

In [ ]:
x=2
x

In [ ]:
x@=3
x@

In [ ]:
#integer
a=2
type(a)

In [ ]:
# Integer 
b = 9223372036
print(b)

In [ ]:
#floating point
pi=3.14
pi

In [ ]:
type(pi)

In [ ]:
#string
a='b'
print(a)
type(a)

In [ ]:
a="python"
a

In [ ]:
type(a)

In [ ]:
a='''python is a dynamically
typed language'''
print(a)
type(a)

In [ ]:
#boolean
a=True
a

In [ ]:
type(a)

In [ ]:
#null or None type
x=None
print(x)

In [ ]:
type(x)

In [ ]:
#indentifiers

In [ ]:
ABC=50
ABC

In [ ]:
ABCD=70
ABCD

In [ ]:
NIT=1500
NIT

In [ ]:
NIT=15000
nit

In [6]:
nIT=50
jav

# 4-PYTHON ( IDENTIFIER / VARIBALE / OBJECT ) --
There is a person whose name - Multiple names are to identify person.so finally the Name which can be used for identification purpose.
Name in the python programme is called IDENTIFIER (x = 10) (X - identifier)
*'''

Nameing ceremoney we have some rules to naming a child . e.g - Gods name,Ancestor Name,have to do some R & D. you cannot keep the child name as - Cat or dog right.. so parent have to follow some rule and keep their child naming ceremony.
*Rules to define Python Identifier & we will check those rules ==

<1 Alphabet (uppercae & lowercase) <2> Digits (0-9) # should not stat with digit <3> underscore(_)

In [ ]:
cash123=10
cash123

In [ ]:
123cash=10
123cash

In [ ]:
ca$h=10
ca$h

In [ ]:
ca*h=20
ca*h

In [ ]:
CASH=20
cash #case sensitive

In [ ]:
CASH

In [ ]:
CASH1=10
CASH1

In [ ]:
123TOTAL=30
123TOTAL

In [ ]:
Abcde=20
type(Abcd)

In [ ]:
new=30
New

In [ ]:
Total5=15
Total

In [ ]:
DEF=4
DEF

In [ ]:
def=4.6 #def is a keyword
def

In [ ]:
DEF=4
DEF

In [ ]:
if=700
if

In [ ]:
DEF=5.6
DEF

In [ ]:
def=7
def

In [ ]:
#if = 10   # if & def are keywords
#DEF = 20 
for = 50
for

In [ ]:
FOR=50
FOR

In [ ]:
IFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFG=43
IFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFG

In [ ]:
_abc_def_gef=20 #only one special character _ character
_abc_def_gef

# Q & A for valid / Invalid identifier - 1>123Abc 2>Abc123 3>ml2ai 4>_abc_def_gef 5>def 6>else 7>ELSE

----- RULES OF PYTHON IDENTIFIER ------ 1> A to Z, a to z, 0 - 9 2> Doesnot starts with digit 3> Case sensitive 4> Reserved words or keywords cannot be a identifier 5> Identifier cannot have a lenght limit 6> _ only allowed 7> NO special character is allowed

========================= WE LEARNT ABOUT PYTHON IDENTIFIER IN DETAILS ============================

# PYTHON RESERVED WORDS -
if a kid going to school what he/she will learn A,B,C - - - -Z then she will learn A - APPLE, B -BALL, C - CAT. (APPLE,BALL,CAT - Reserved word in english)
Apple is reserved for the fruit, Ball ==> play, Cat ==> Animal // (Dictionary uncountable reserved words is there).. This type of words are called Reserved word
In any programming language there is a reserved word are there we gonna learn only python Reserved

python reserved are => (35 RESERVED WORDS) If you learn 35 reserved words then python is complete

all reserved words have some meaning & functionality
Learning python is nothing but learing all this functionality

# **35 RESERVED WORDS---

True, False, None ==> Represent Boolean data types
and, or, not, is ==> Represent the operators
if, else, elif ==> Represent the statement (# python switch,do..while statament is not available)
while, for, break, continue, return, in, yield ==> Represent the loop concept
try, except, finally, raise, assert ==> Represent for functionallity
import,from,as,class,def,pass,global,nonlocal,lambda,del,with==>Represent the class,method,function
*NOTES -- 35 RESERVED WORDS ARE (ALPHABET) // *EXCEPT (True,False,None)

In [ ]:
a=True
a

In [ ]:
True=a
True

In [ ]:
a1=true
a1

In [ ]:
b=None
b

In [ ]:
b=none
b

In [ ]:
c=False
c

In [ ]:
import pandas as pd
a=pd.DataFrame(keyword.kwlist)
a

# PYTHON DATA TYPES // (14) - INBUILD DATA TYPES -
1>int 2>float 3>complex 4>bool 5>str 6>bytes 7>bytearray DATA STRUCTURE ---> 8>range 9>list 10>tuple 11>set 12>frozenset 13>dict 14>None

python provides some inbuild function like -- <1> print() <2> type() <3> id()

int,float,complex,boolen is not represent object # Tricky question

except these 4 everythig object # Tricky question
NOTE - [**In python all 14 data types are object only]Thats why we called as python is object oriented program

In [ ]:
a=10
print(a)
id(a)

In [ ]:
type(a)

In [ ]:
b=10
id(b)

In [ ]:
a=10
b=10
type(a)

In [ ]:
id(a)

In [ ]:
id(b)

In [ ]:
c=20
id(c)

# int datatypes -
INT Datatypes - The No.without decimal point are called as INTEGRAL DATATYPES *int datatype how many ways represent values in 3ways -
2> Binary form --- (Base-2) -- (0,1) 3> Octal form --- (Base-8) -- (0,7)

In [ ]:
a1=4809
a1
type(a1)

In [ ]:
#Binary format
b=7
bin(b)

In [ ]:
b=0b101
b

In [ ]:
b1=111
b1

In [ ]:
c=0b1111
c

In [ ]:
b3=ob222
b3

In [ ]:
b=0b11
b

In [ ]:
#octal decimal
a=23
oct(a)

In [ ]:
b1=0o111
b1

In [ ]:
a=100
b=0b10
c=0o100
a
b
c

In [ ]:
c1=0o33
c1

In [ ]:
b

In [ ]:
c

In [ ]:
A=78
type(A)

# float datatypes -
employee sal - 5676.76diesel price - 67.25

These values are not integral value this is called as decimal value
Floating datatype you cannot declare Binary,Octal & Hexadecimal because python enterpretur not accept that
In our schools we learn about EXPONTIAL form -(1.2e3) this you can find in float datatypes & only letter 'e' can allowed

In [ ]:
 b=6.7
type(b)

In [ ]:
c=0o11.6
c

In [ ]:
b1=0o11.22
print(type(b))
type(b1)

In [ ]:
d=0o4567.67
d

In [ ]:
e=0b4567.89
e

In [ ]:
f1=1E1
f1

In [ ]:
type(f1)

In [ ]:
#f = 1e3 # only 'e' letter is allowed
g=2.4E3 # except 'E' you can't execute any programme
g

In [ ]:
f=1e4
f

In [ ]:
type(g)

# complex datatypes -
Complex datatype format are:-(a+bj) (a--Real part/b--Imaginary part/j^2=-1)
j is the compulsory value & there is no other value accepted in complex type
j^2 = -1
Value of j is (j square is equal to -1) (j =(square root of -1) is equal to (j^2 = -1) pure mathemetics so if you want to develop mathmetic application or scientific application then python is the best option
Real type any type base can be accepted but imaginary part allow only integer

In [ ]:
X=30+40j
X

In [ ]:
type(X)

In [ ]:
y=10+20j
z=30+25j
y+z

In [ ]:
y*z

In [ ]:
y/z

In [ ]:
c=15+0b111j
c

In [ ]:
d=0b11+15j
d

In [ ]:
d2=0b111+15j
d2

In [ ]:
a1=4+15a
a1

In [ ]:
c1=20+30j
d1=40+50j

In [ ]:
c1+d1

In [ ]:
c1*d1

In [ ]:
c1-d1

In [ ]:
c1/d1

In [ ]:
a=2+3j
type(a)

In [ ]:
a1=25+30j
a1.imag

In [ ]:
a1.real

In [ ]:
bool data types

In [ ]:
a = 10
b = 20
c = a>b
c

In [ ]:
type(c)

In [ ]:
True+True
True+False
True*True
True/False
False+False
True-True
True-False

In [ ]:
True+True

In [ ]:
True/False

In [ ]:
pi=3.14
pi
type(pi)

In [ ]:
pi=3.17 #no constant are in python
pi

# str datatypes -
enclosed in '' (single quote) // "" (double quote)
singa line we assined as '' // ""
multiline we assigned as ("' "')
single & double quotes are allowed only for single line
triple quotes are allowed for multi comments & also you can declare triple quotes in single line as well("""//""")/('''//''')

In [ ]:
naresh='good for data science'
naresh

In [ ]:
naresh='''good for data science'''
naresh

In [ ]:
type(naresh)

In [ ]:
naresh2='''good for data science'''
naresh2

In [ ]:
type(naresh2)

In [ ]:
e01="""this a practice
of task 2"""
e01

# Type Conversions
int()--bool()--complex--float()--str()

## int to other data types
int(): - you can convert from other type to int type except complex

In [ ]:
int(10.123)

In [ ]:
int(10+20j)

In [ ]:
int(True)

In [ ]:
int(False)

In [ ]:
int('10')

In [ ]:
int('ten')

# float() to other data types
float(): -- convert from any type to float except complex

In [ ]:
float(10)

In [ ]:
float(10+20j)

In [ ]:
float(False)

In [ ]:
float(True)

In [ ]:
float('10')

# complex to other types
complex(): -- covert any other type to complex type
--- this only for 1 argument ------

In [ ]:
complex(10)

In [ ]:
complex(10.5)

In [ ]:
complex(True)

In [ ]:
complex(False)

In [ ]:
complex('10')

In [ ]:
#with to arguments
complex(10,20)

In [ ]:
complex(10,20.5)

In [ ]:
complex('10')

# bool to other conversions
Bool()  - (0 means false // 1 means non zero)

In [ ]:
bool(0)

In [ ]:
bool(-10)

In [ ]:
bool(0.0)

In [ ]:
bool(10+20j)

In [ ]:
bool(0+10j)

In [ ]:
bool(" ")

In [ ]:
bool('abc')

In [ ]:
bool(' ')

# str to other types
# str(): --- any type is possible in string

In [ ]:
str(10)

In [ ]:
str('10.5')

In [ ]:
str('True')

In [ ]:
str(10+20j)

Fundamental Datatypes are which we covered so far & also we saw how to work on the type casting from one data type to other -
We cannot convert our complex data types to int and float

int() float() complex() bool() str()

# Fundamental datatypes vs Immutability --
All fundamental datatypes are immutable. what is immutable - once we crate the object we are not allow to perform any changes in that object . we can say that (non-changeable behaviour)
why immutability concept is required -- if you look at below exampl - how many object we created only 1 object which is 10 but how many reference we assinged -- 3 reference indicates to 1 object
bigest advantage of this approch is memory utilization & performance is also improved (pvm do not want to wsat memory)
you can create object with different name, but you cannot create object with same name

In [ ]:
x2=10
y2=10
z2=10
print(id(x2))
print(id(y2))
print(id(z2))

# Mutable -- Changeable-- once you create an object
Immutable -- Non-changeable
Fundamental data types are IMMUTABLE but (LIST is mutable)
Everything in python is an object
**This concept reusing same object such type of concept is define following ranges - 1> int ----> 0 to 256 2> bool ---> Always 3> str ----> Always 4> float & complex ----> Can not performe the reusable concept

In [ ]:
x=10
y=20
print(id(x))
print(id(y))

In [ ]:
# is operator

In [ ]:
x=True
y=True
z=False
x is y
y is z
z is x
z is y